<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706665795093-in8dm84vas18h03p37oifegsu2ccsc83.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706665795093-in8dm84vas18h03p37oifegsu2ccsc83</string>
	<key>API_KEY</key>
	<string>AIzaSyAfpvJu-lNNwOtNEA9Ob0O3pDtR92l5NOM</string>
	<key>GCM_SENDER_ID</key>
	<string>706665795093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zirit.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-74993</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-74993.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706665795093:ios:4365a7f1eeafdccbd7481c</string>
</dict>
</plist>